.UserNameInput {
    width: 200px;
    height: 30px;
}

.buttonLogin {
    heigh: 300px;
}

.welcomeSpan {
    font-size: 60px;
}

.mainDiv{
    text-align: center;
}

.mainBody{
    background: lightblue;
}